@charset "utf-8";


* {
    margin: 0;
    padding: 0;
}
/*body{background: url("../images/bg.png")  no-repeat;background-size: 100% 100%}*/

.clear_b{clear:both;height:0;}


/*微音文化官网头部试图的布局*/
.header{width:1000px;margin:auto;margin-top: 30px;height:80px;border-bottom:4px solid #8D8A87;position:relative;}
.logo { float:left;width: 200px;height: 95px;}
.headerlogo{
    position:relative;
    width: 168px;
    height: 50px;
    margin-top: 15px;
}
.topnav{margin-top:25px;float:right;margin-left:200px;}
.topnav a{font-size:18px;display:inline-block;height:30px; text-align:center;line-height:34px;padding:0px 5px;margin:0px 5px;color:black;}
a.nav_sel,.topnav a:hover{color:#2fbbf6;font-weight:bold;}
a{text-decoration: none}



/*首页中间内容的布局*/
.container{width: 1000px;margin: auto;}
/*轮播图布局*/
.banner { position:relative;margin-top: -11px; width: 1000px;height:400px;float: left; z-index:0; overflow:hidden;}
.sliderImage{width: 1000px;height: 400px;float: left;margin: auto}
.flashPicClass{width: 1000px;height: 400px;float: left;margin: auto}
.slider-nav { height:20px; position:absolute; left:0px; bottom:15px; width:1000px; z-index:9999; text-align:center;}
.slider-nav a { display:inline-block; width:20px; height:20px; margin:0px 4px 0px 5px; line-height:65px; overflow:hidden; }
.slider-nav a:hover{background-color: red}
.prev { position:relative; margin-left:20px; margin-top: 150px; width:46px;height:100px; background:url(../images/iconpre.png) center center no-repeat;  background-color: red}
.next { position:relative; margin-left:934px; margin-top:150px; width:46px;height:100px; background:url(../images/iconnext.png) center center no-repeat; background-color: greenyellow}


/*活动模块布局*/
.eventModel{float: left;width: 300px;height: 268px;}
.eventTitleDiv{margin:30px 0 15px 0;height:20px}
.eventTitleDiv a{display:inline-block;float:right;margin-right:5%;font-size:14px;font-weight:normal;color:#4fc4ff}
.eventTitleDiv a:hover{background:#FFFFEF;box-shadow: 10px 10px 20px rgba(0,0,0,0.14);}
.eventTitleDiv span.eventTitle{font-size:18px;font-weight:bold;color:#005c8c;margin-top:0px;}
.eventTitleDiv span{font-size:11px;font-weight:normal;color:#c0d2dc;margin-left:3px;display:block;float:left;margin-top:8px;}
.eventImageDiv{width: 300px;height: 200px;}
.eventImage{width: 300px;height: 200px;}
.eventImage a:hover{background:#FFFFEF;box-shadow: 10px 10px 20px rgba(0,0,0,0.14);}


/*游戏模块布局*/
.gameModel{float: right;width: 230px;height: 268px;}
.gameModel img{width: 228px}
.gameModelDiv{margin-top:20px;margin-left: 0px;width:150px}
.gameModelDiv a{display:block;margin-bottom:10px;width: 200px}
.gameModelDiv a img{float:left;width: 68px;height: 68px}
.gameModelDiv a:hover{background:#FFFFEF;box-shadow: 10px 10px 20px rgba(0,0,0,0.14);}
.gameNameDiv{float:left;margin-left:15px;color:#7c7c7c;font-size:12px;line-height:17px;margin-top: 12px}
.gameNameDiv p{font-size:12px;text-indent:0px;}
.gameNameDiv span{font-size:12px;color:#4fc4ff; text-decoration:underline}
span.gameName{font-size:14px;color:#7c7c7c;text-decoration:none}



/*相关模块布局*/
.correlationModel{float: left;margin-left:30px;width: 430px;height: 268px;}
.correlationModelDiv{margin-top:10px;padding-left:0px;list-style: none}
.correlationModelDiv li{height:28px;}
.correlationModelDiv li a{color:#818181;font-size:14px;line-height:28px; display:inline-block;width:80%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.correlationModelDiv li a:hover{color: red;text-decoration-line: underline}
.correlationNoteDate{color:#7c7c7c;font-size:13px;float:right;margin-right:5%;line-height:28px;display:block;*margin-top:-28px;}


/*微音文化官网尾部视图的布局*/
.footer{clear:both;width:1000px;margin:auto;color:#8C8C8C;font-size:12px;border-top:3px solid #E7E7E7;padding:30px 0;}
.f_txt{line-height:20px;text-align: center;color:#999;}




/*企业信息页面布局*/
.childbanner{width:1000px;height:80px;margin: auto;background:#BB2024}
.bannermain{
    width:1000px;
    height:80px;
    margin-left: 20px;
    color:#f1f1f1;
    font-size:30px;
    font-weight:bold;
    line-height:88px;
    background:url(../images/title.jpg) no-repeat left 50%
}
.bannermain span{color:#006bb0;font-size:30px;font-weight:normal;margin-left:5px;}
.mainer,#mainer { width:1000px;margin: auto;background:#fff;margin: 0px auto}
.comhornor{color:#004c7c;font-size:32px;display:block;margin-left:40px;margin-bottom:40px;}
.bannermain{color:#004c7c;font-size:32px;display:block;margin-left:40px;margin-top:0px;}
.introtab{width:865px;margin:0px auto;margin-top: 40px}
.tipstab{float:left;width:200px;margin-left:35px;}
.tipstab span{margin-bottom:1px;}
.tipscontent{float:right;width:700px;margin-right:35px;font-size:14px;line-height:25px;}
.introtab span{display:block;float:left;width:270px;height: 45px;line-height:45px;color:white;font-size:16px;background:#FC5052;border-right:1px solid #fff;text-align:center;cursor:pointer}
#intro5{border-right:none}
.introtab span.hover,.introtab span:hover,.tipstab span:hover{background:#BB2024;color:#fff;}
.introcontent{width:100%;min-height:500px;display:none}
.introcontent p,#tab_intro_2 div{font-size:14px;line-height:28px;width:805px;margin:0px auto;padding:0px 30px;}
#tab_intro_1 p{padding:30px;}
.companymain{margin-top:0px;padding-top:50px}
.comhornor{color:#004c7c;font-size:32px;display:block;margin-left:40px;margin-bottom:40px;}
#tab_intro_2  p,.ceoname{color:#006bb0;padding:30px;padding-bottom:0px;text-indent:0px}
.introcontent p.yuanjing{color:#888888;font-size:14px;font-weight:bold;padding:0;text-indent:0;padding:0 30px}
.jianjie{color:#383838;text-indent:0px;}
#tab_intro_5  p{padding:0px;}
#moreCl a:hover{text-decoration:none}
.tips3content h3,.tips2content h4{-webkit-margin-before:0em;-webkit-margin-after:0em;line-height:30px;margin-top:30px;}
#moreresults,#nomoreresults,#loading{display:block;font-size:14px;background:#eee;color:#8398B2;width:865px;margin:0px auto;text-align:center;line-height:35px;margin-top:10px;}
#moreresults:hover{text-decoration:none}
#nomoreresults{color:#8398B2}
/*=================公司文化tab====================*/
#navigation-block {
width:188px;
position:relative;
float:left;
top:0px;
left:0px;
}
#hide {
position:absolute;
top:30px;
left:-190px;
}
ul#sliding-navigation
{
list-style: none;
font-size:15px;
margin: 38px 0;
padding: 0;
}
ul#sliding-navigation li a
{
display: block;
width: 125px;
padding: 5px 0 5px 18px;
margin: 0;
margin-bottom: 5px;
}
ul#sliding-navigation li a
{
color: #eee;
background:#32A1E8;
text-decoration: none;
}
ul#sliding-navigation li a:hover { color: #ffffff;font-weight:bold;background:#127DEE}
ul#sliding-navigation li.hover a{color:#ffffff;background:#127DEE;font-weight:bold}
.culturediv{width:675px;min-height:600px;float:right;margin:30px 0;display:none}
.culturediv p{width:650px;}
#tab_intro_4{padding-top:25px}
table.glorytable{width:864px;margin:0px auto}
table.glorytable th{background:#118CDC;color:#fff;height:35px;font-size:14px;}
table.glorytable tr td{text-align:center;border-bottom:1px solid #ddd;height:45px;font-size:14px;}
#menubtn{display:none}
.heading_soptlight{
float: right;
width: 150px;
height: 30px;
position: relative;
margin-right: 80px;
margin-top: 35px;
}
form input{
height: 30px;
border-radius: 30px;
}


/*游戏中心界面布局*/
.gamefield{width:900px;height:215px;position:relative;border:1px solid #1493E3; border-style:solid;border-left:none;border-right:none;border-top:none;margin:0px auto;}
.gamefield img{border:1px solid #DDD;width:73px;}
.gamefield img.gamepic{position:absolute;width:auto;top:23px;left:0px;border:none}
.downloadfield{width:565px;height:35px;position:absolute;left:335px;top:35px;border-bottom:1px solid #DFEFFF}
.downloadfield a{display:block;height:35px;line-height:35px;padding:0px 15px 0px 35px;font-size:14px;text-align:center;float:right;color:#1493e3;background:url(/images/icontogw.png) no-repeat right 50%}
.ewm{position:absolute;right:5px;top:88px;}
.introp{width:470px;font-family:"Microsoft YaHei";font-size:15px;line-height:28px;color:#555;position:absolute;left:335px;top:85px}


/*相关界面布局*/
.news_tabs{width:100%;height:40px;border-bottom:1px solid #32A1E8;}
.news_tabs span{display:inline-block;width:400px;height:39px;line-height:39px;background:#32A1E8;color:#fff;text-align:center;font-size:18px;border-top:1px solid #32A1E8;border-left:1px solid #32A1E8;border-right:1px solid #32A1E8;cursor:pointer;float:left;margin-left:90px;}
.news_tabs span#newskind2{margin-left:0px;;border-left:none}
.news_tabs span.hover{border-bottom:1px solid #fff;background:#fff;color:#32A1E8}
#newslistul li{margin:0px 0px;border-bottom:1px solid #ddd;padding:3px 0px;}
#newslistul li a{color:#565;line-height:30px;}
#newslistul li a:hover{color:#111}
.datespan{color:#7c7c7c;font-size:13px;float:right;margin-right:5%;line-height:28px;display:block;*margin-top:-28px;}
.childbanner{width:1000px;height:80px;background:#BB2024}
.bannermain{width:980px;height:80px;margin:0px auto;color:#f1f1f1;font-size:41px;font-weight:bold;line-height:88px;
    background:url(../images/title.jpg) no-repeat left 50%}
.bannermain span{color:#006bb0;font-size:40px;font-weight:normal;margin-left:5px;}
.ui-news-list{width:100%;padding:40px 15px 150px 0px;}
.ui-news-list li{overflow:hidden;width:830px;margin:0px auto;padding:10px;padding-left:100px;padding-bottom:5px;position:relative;font:100 14px/28px "微软雅黑";border-bottom:1px solid #ccc;}
#moreLi{padding:0 0 0 100px}
.news-date{position:absolute;left:0px;top:0;color:#aaa;padding-top:10px}
.news-text{padding:0 0 4px 0;}
.news-text p{text-indent:0px}
.news-text a{color:#777;}
.news-text h3{color:#383838;font-size:15px;}


/*=======新闻详情=========*/
.newscontent{padding:0px 30px;min-height:600px;line-height:28px;position:relative;padding-bottom:130px;font-size:14px;color:#5f5f5f}
.newscontent p img{margin-left:-30px}
.newscontent p{color:#5f5f5f;font-size:14px;line-height:28px;padding:20px 0 10px 0; text-align:left}
.newstitle{width:930px;height:68px;border-bottom:1px solid #ccc;margin:0px auto;background:url(../images/iconcollapse.png) no-repeat left 50%; text-indent:10px;font-size:24px;line-height:68px; text-align:left}
.nwstitlespan{display:inline-block;float:left;}
.timespan{display:inline-block;color:#aaaaaa;font-size:14px;line-height:68px;line-height:68px;float:right}
.news_nav{width:925px;padding-left:55px;height:43px;line-height:43px;font-size:14px;color:#7e7e7e;text-align:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;position:absolute;left:0px;bottom:0px;}
.news_nav a{display:inline-block;height:43px;font-size:14px;color:#7e7e7e;background:url(../images/news_nav_bg.png) no-repeat right;padding-left:15px;padding-right:40px;margin-right:10px}


.pagenate{text-align:center;margin-top:10px;}
.pagenate a:link{ text-decoration:none;color:#1068a7}
.pagenate a:hover{ text-decoration:underline;color:#1068a7}
.pagenate a:visited{ text-decoration:none;color:#1068a7}



/*合作页面布局*/
.news-content2{font-size:15px;line-height:28px;padding:0 60px}
.news-content2 h3 {font-size:16px;font-weight:bold}


/*工作页面布局*/
.ui-main-left{width:190px;float:left;margin-left:35px;}
.ui-main-right{width:700px;margin-left:25px;display:inline;float:left;}
.ui-title-1{width:930px;margin:0px auto;overflow:hidden;margin-bottom:10px;}
.ui-title-1 h2{color:#2f5071;font-size:25px;line-height:36px;font-weight:100}
.ui-title-1 h4{color:#555;font-size:14px;font-weight:100;line-height:28px;}








/*.h{display:block;width:1px;height:1px;overflow:hidden;display:none;}*/
/*ol,ul,li{list-style-type:none;}*/
/*img{border:0px; vertical-align:middle;}*/
/*form {margin:0px;padding:0px;}*/
/*.clear { height:0px; clear: both; overflow:hidden; }*/
/*.clear10 { height:10px; clear: both; overflow:hidden; }*/
/*.clear20 { height:20px; clear: both; overflow:hidden; }*/
/*.fl { float:left;}*/
/*.fr { float:right;}*/
/*.f14 { font-size:14px;}*/
/*.red { color:#c45800;}*/
/*.grey { color:#777;}*/
/*html{min-width:1280px}*/
/*body {*/
    /*font-size: 12px;*/
    /*color:#504D48;*/
	/*background:#E2E2E2;*/
	/*line-height:18px;*/
	/*font:12px/180% "微软雅黑","宋体";*/
/*}*/
/*a {*/
    /*text-decoration: none;*/
    /*color: #333;*/
/*}*/
/*a:hover {*/
    /*text-decoration: none;*/
/*}*/
/*p{text-indent:30px;}*/
/*span:hover{text-decoration: none;}*/
/*#header {background-color: black}*/
/*.mainer,#mainer { width:1000px;margin: auto;background:#fff;margin: 0px auto}*/
/*.indexmainer{text-align:center;background:url(../images/gameboxbg.png) no-repeat right #fff}*/
/*.indexmain{width:100%;);*/
	/*margin:0px auto; text-align:left}*/
/*.indexmain{display:inline-block;}*/
/*.indexmain{_display:inline;} !*针对ie6 hack*!*/

/*.childmain{width:980px;margin:30px auto;min-height:600px;padding:0 0 35px 0}*/
/*.mainbox{width:36%;height:268px;float:left;position:relative;}*/
/*.leftbox{width:32%;left:1%;min-width:336px;}*/
/*.rightbox{float:right}*/
/*.gamebox{width:28%;background:none;}*/

/*.topbox { width:980px; margin:0px auto; height:40px;}*/
/*.tban { height:450px; z-index:0; overflow:hidden;}*/
/*.tban a { display:block; height:450px; }*/


/*.topr { float:right; width:500px; text-align:right; line-height:40px; color:#aaa;}*/
/*.topr a{ color:#555555;}*/
/*.topr a:hover{ color:#1068a7;}*/

/*.navbox { background:url(../images/navbg.png) repeat-x; height:56px;}*/





/*!*==========首页小轮播==========*!*/
/*.activebox{float:right;width:100%;height:250px;}*/
/*.themediv{margin:30px 0 15px 0;height:20px}*/
/*.themediv a{display:inline-block;float:right;margin-right:5%;font-size:14px;font-weight:normal;color:#4fc4ff}*/
/*.themegame{margin-left:30px;}*/
/*.themediv span{font-size:11px;font-weight:normal;color:#c0d2dc;margin-left:3px;display:block;float:left;margin-top:3px;}*/
/*.themediv span.themetitle{font-size:18px;font-weight:bold;color:#005c8c;margin-top:0px;}*/
/*#boxbanner{position:relative; z-index:0; overflow:hidden;}*/
/*#boxslider{ margin:0px; display:block; height:182px; overflow:hidden; z-index:1;}*/
/*#boxslider li { display:block;width:100%; height:182px; }*/
/*#boxslider li a{ display:block;  height:182px; }*/
/*.slider-arrow {display:none;}*/
/*#boxslider-nav { height:18px; padding-top:7px; z-index:999; position:absolute; left:0px; bottom:15px; width:100%; z-index:9999; text-align:left;text-indent:25px;}*/
/*#boxslider-nav a { background: url(../images/min_banb.png) no-repeat; _background: url(../images/banb.gif) no-repeat; display:inline-block; width:18px; height:18px; margin:0px 4px 0px 5px; line-height:65px; overflow:hidden; }*/
/*#boxslider-nav a.activeSlide {background:url(../images/min_banbs.png) no-repeat;_background: url(../images/banbs.gif) no-repeat;}*/
/*ul.indexnewsul{margin-top:35px;padding-left:3%;}*/
/*ul.indexnewsul li{height:28px;}*/
/*ul.indexnewsul li a{color:#818181;font-size:14px;line-height:28px; display:inline-block;width:80%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}*/
/*.gamelink{margin-top:20px;margin-left:34px;width:180px}*/
/*.gamelink a{display:block;margin-bottom:8px;}*/
/*.gamelink a img{float:left;}*/
/*.gamelinkdiv{float:left;margin-left:15px;color:#7c7c7c;font-size:12px;line-height:17px;}*/
/*.gamelinkdiv p{font-size:12px;text-indent:0px;}*/
/*.gamelinkdiv span{font-size:12px;color:#4fc4ff; text-decoration:underline}*/
/*span.game_name{font-size:14px;color:#7c7c7c;text-decoration:none}*/


/*!* main_image *!*/
/*.main_visual{height:182px;overflow:hidden;position:relative;}*/
/*.main_image{height:182px;overflow:hidden;position:relative;}*/
/*.main_image ul{width:100%;height:182px;overflow:hidden;position:absolute;top:0;left:0}*/
/*.main_image li{float:left;width:100%;height:182px;}*/
/*.main_image li a{display:block;width:100%;height:182px}*/

/*div.flicking_con{position:absolute;top:220px;z-index:999;width:100%;height:18px; text-align:left;text-indent:15px;}*/
/*div.flicking_con a{width:18px;height:18px;margin:0 3px;padding:0;background:url(../images/min_banb.png) 0 0 no-repeat;display:inline-block;text-indent:-1000px}*/
/*div.flicking_con a.on{background:url(../images/min_banbs.png)  no-repeat;}*/



/*!*=========首页大轮播文字==========*!*/
/*.commentp_1{font-size:50px;line-height:50px;font-weight:bold;color:#fff;position:absolute;top:150px;left:5.5%;border-bottom:1px solid #6B707A;padding-bottom:10px;text-indent:0px}*/
/*.commentp_1 span{color:#64A9FF}*/
/*.commentp_2{color:#fff;width:350px;position:absolute;top:215px;left:5.5%;line-height:22px;text-indent:0px;text-align:left}*/
/*.btninto{display:block;width:173px;height:44px;background:url(../images/jrgw.png) no-repeat #3790ff;color:#fff;position:absolute;top:325px;left:5.5%; text-align:center;font-size:16px;line-height:44px;}*/

/*.itit { background:url(../images/itit.png) left center no-repeat; height:23px; padding-left:14px; font-size:22px; color:#1068a7; line-height:22px; margin-bottom:12px;}*/
/*.itit span{ margin-left:15px; font-size:22px; color:#777777; font-family:Arial; text-transform:uppercase;}*/
/*.itit a.more{ height:22px; display:inline-block; font-size:14px; color:#fff; font-family:Arial; padding:0px 8px; float:right; background:#1068a7;}*/
/*.itit a.more:hover{ color:#fff; background:#064a7a;}*/




/*========图片展示==========*/
/*#slider-nav{}*/
/*#prev{width:30px;height:46px;background:url(../images/iconpre.png) no-repeat;}*/
/*#prev{top:170px;left:30px}*/
/*#next{top:170px;right:30px}*/
/*#next{background:url(../images/iconnext.png) no-repeat;}*/

/*.clear_b{clear:both;height:0;}*/



/*!*================加入我们================*!*/
/*.bg-color-blue{background-color:#00a7ea;}*/
/*.bg-color-blue2{background-color:#609FC3;}*/
/*.bg-color-blue3{background-color:#8CB6CF;}*/
/*.ui-jobs-list{width:930px;padding:25px;overflow:hidden;}*/
		/*.ui-jobs-list li{float:left;width:250px;display:inline;}*/
		/*.jobs-list-center{margin:0 90px;}*/
		/*dl.jobs-cate{width:100%;overflow:hidden;margin-bottom:30px;min-height:100px;}*/
		/*dl.jobs-cate dd,.jobs-cate dt{border-bottom:1px solid #e3e3e3;color:#09a7e8;position:relative;line-height:24px;font:100 14px/24px "宋体";}*/
		/*.jobs-cate dt span{position:absolute;right:0;top:0;}*/

		/*.jobs-cate a{color:#09a7e8;line-height:32px;}*/
			/*.cate-name{display:block;height:33px;width:150px;text-align:center;color:#fff;display:block;font:100 24px/33px "微软雅黑";}*/
		/*.jobs-location{color:#09a7e8;position:absolute;right:0;top:0;line-height:32px;}*/

	/*.jobs-list-tree{width:170px;overflow:hidden;}*/
		/*.jobs-list-tree dt{width:100%;height:33px;margin-top:6px;}*/
		/*.jobs-list-tree dd{width:100%;height:29px;border-top:1px solid #e7e7e7;font-size:14px;}*/
		/*.jobs-list-tree dd a{color:#09A7E8;line-height:29px;}*/
	/*.jobs-text{width:100%;color:#656565;font:100 12px/24px "宋体";}*/
	/*.jobs-text p{text-indent:0px;}*/
		/*.jobs-text h3.jobs-title{font:600 24px/38px "微软雅黑";border-top:1px dotted #CBCBCB;border-bottom:1px dotted #CBCBCB;color:#2F4F70;margin-bottom:10px;}*/



/*!*=======错误页面=======*!*/
/*.errdiv{width:980px;padding-top:150px;margin:0px auto;background:#fff}*/
/*p.errp{padding:20px 0 200px 0;text-align:center;font-size:35px;color:#9099a2;}*/
/*p.errp img{margin:30px auto;}*/
/*p.errp a{color:#009ef8;text-decoration:underline;}*/
